
{% extends 'site.html' %}
{% block content %}

<section>
  <div class="jumbotron text-center mt-2" style="background-color: transparent">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Blog</h1>
          <p>Want to know more about me?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section> 
  <!-- Accordion code https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_animate -->
  <div class="container">
    <div class="page-items text-center mb-4">
      Showing Results: {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
    </div>
    {% for post in pagination %}
    <button class="accordion rounded" style="color: black;"><strong>{{ post.title }}, {{ post.datetime }}</strong></button>
    <div class="panel">
      <p>{{ post.text }}</p>
    </div>
    {% endfor %}

    <ul class="pagination justify-content-center mt-4">
      {% for page in pagination.iter_pages() %}
      <li class="page-item"><a class="page-link" href="{{ url_for('main.blog', page=page) }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
