
{% extends 'site.html' %}
{% block content %}

<section>
  <div class="jumbotron text-center mt-2" style="background-color: transparent">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Documents</h1>
          <p>Transcripts, Resume, Papers, Etc.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container text-center justify-content-center">
    <table class="rounded mt-5" style="margin-left: auto; margin-right: auto;">
      <thead>
        <tr>
          <th>Files</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr style="padding: 10px;">
          <td><a href="{{ url_for('static', filename='files/'+file[0]) }}" download>
            <button class="file rounded">{{ file[0] }} <i class="fa fa-download"></i></button></td>
          </a>
          <td>{{ file[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
